/* }
html{
    background-color: #f8dfea;
    
}

h1{
    color: #883733;
    background-color: white;
}

p{
    color: #320f1f;
}


a{
    background-color: purple;
}
/* }
Sintaxis CSS
selectorEtiquetaHTML,Class, ID {
    propiedad : valor;
    propiedad : valor;
    propiedad : valor;

 */

 body{
    background-color: blueviolet;
 }

 .caja1{
    background-color: yellow;
    color: green;
    width: 250px;
    height: 250px;
    text-align: center;
    border: 2px solid black;
 }

 .caja2{
    background-color: white;
    color: black;
    width: 250px;
    height: 250px;
    text-align: center;
    border: 2px solid black;
    padding: 20px 10px 20px 10px;
    padding: 20px 10px;
    margin: 10px;
    box-sizing: content-box;
 }

 .caja3{
    background-color: white;
    color: orange;
    width: 250px;
    height: 250px;
    text-align: center;
    border: 2px solid black;
 }


